*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	--primary-dark: #735da5;
	--primary-light: #d3c5e5;
	color: #2a3132;
}

body {
	background-color: dimgray;
}

a {
	text-decoration: none;
	color: #31473a;
}

button {
	cursor: pointer;
}

input {
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	border: none;
}

input:focus {
	outline: 2px solid cornflowerblue;
}

.form-group {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: var(--primary-dark);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #645191;
}

.github-link {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.devicon-github-original {
	font-size: 40px;
	color: whitesmoke;
	transition: color 0.15s linear;
}

.devicon-github-original:hover {
	color: var(--primary-light);
}

nav {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 30px;
	font-size: 30px;
	border-radius: 5px;
	background-color: gainsboro;
}

.sidebar-link {
	display: flex;
	gap: 10px;
	transition: transform 0.1s linear;
}

.sidebar-link:active {
	transform: scale(0.95);
}

.material-symbols-outlined.sidebar-icon {
	font-size: 40px;
}

.log-in-container,
.sign-up-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.log-in-form-container,
.sign-up-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 30px 40px;
	gap: 10px;
	border-radius: 5px;
	background-color: var(--primary-light);
}

.log-in-form,
.sign-up-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.log-in-button,
.sign-up-button {
	font-size: 22px;
	padding: 5px 0px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-dark);
	color: whitesmoke;
}

.log-in-errors,
.sign-up-errors {
	position: absolute;
	bottom: -60px;
	font-size: 20px;
	color: whitesmoke;
}

.sign-up-errors {
	bottom: -50px;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	padding: 30px;
	padding-left: 50px;
}

.content {
	width: 60%;
	border: 3px solid;
	border-radius: 5px;
	border-color: gainsboro;
}

.log-in-h1 {
	margin-bottom: 10px;
	color: whitesmoke;
}

.messenger-header {
	padding: 5px;
	border-radius: 2px 2px 0px 0px;
	background-color: var(--primary-dark);
	color: whitesmoke;
}

.messages,
.not-user-messages {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	max-height: 70vh;
	overflow-y: auto;
	padding: 5px;
	padding-bottom: 10px;
	background-color: var(--primary-light);
}

.not-user-messages {
	padding: 20px;
	border-radius: 10px;
}

.message {
	display: flex;
	width: 45%;
	border-radius: 10px;
}

.message-content {
	width: 100%;
}

.message-author {
	font-weight: bold;
	font-style: italic;
	color: var(--primary-dark);
}

.message-and-timestamp {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 100%;
	padding: 10px;
	border: 2px solid var(--primary-dark);
	border-radius: 10px;
	background-color: white;
	color: #31473a;
}

.message-and-icon {
	display: flex;
	justify-content: space-between;
}

.message-text {
	max-width: 95%;
	font-size: 20px;
}

.timestamp {
	align-self: flex-end;
	color: dimgray;
}

.current-user-message {
	align-self: flex-end;
}

.delete-button,
.send-button {
	padding: 0px;
	border: none;
	background-color: inherit;
}

.send-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	height: 35px;
}

.material-symbols-outlined.delete-icon {
	font-size: 20px;
	color: #31473a;
}

.message-form-container {
	padding: 10px;
	background-color: var(--primary-dark);
}

.message-form {
	display: flex;
	gap: 10px;
}

#message {
	width: 95%;
	padding-left: 5px;
	border: none;
	border-radius: 10px;
}

#message:focus {
	outline: 2px solid var(--primary-light);
}

.material-symbols-outlined.send-icon {
	font-size: 40px;
	color: var(--primary-light);
}

.material-symbols-outlined.send-icon:hover {
	color: whitesmoke;
}
